.sections {
    background-color: lightgray;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 1.8em;
    text-align: center;
    color: #25C1BB;
    letter-spacing: 0.2em;
    padding: 1em;
}

.displayrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar2 {
    height: 10%;
    width: 10%;
    background-color: rgba(37, 193, 187, 0.5);
    padding: 1em;
    border-radius: 50%;
    margin-bottom: 2em;
    box-shadow: #2E323B 0.5em 0.5em 0.3em;
}

.urlImage, .listName, .urlArticle, .giftName, .price, .pseudo, .password, .passwordConfirmation, .email {
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 2em;
    width: 20em;
    border-radius: 0.5em;
}

.inputInFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelForm {
    font-size: 1em;
    color: #2E323B;
}

.descriptionGift, .descriptionList {
    height: 15em;
    width: 20em;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.rating {
    direction: rtl;
    display: flex;
    justify-content: center;
}

.rating a {
    color: #2E323B;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
    margin: 0.2em 0.4em;
}

.rating a:hover, .rating a:focus, .rating a:hover ~ a, .rating a:focus ~ a {
    color: #25C1BB;
    cursor: pointer;
}

.submitGift, .submitList, .connection, .signUp {
    padding: 0.5em 2em;
    color: white;
    background-color: rgb(47, 217, 240);
    font-weight: bolder;
    padding: 0.5em 1em;
    margin: 2em;
    border-radius: 0.5em;
}

.signUpLink, .alreadySignIn {
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #25C1BB;
}

@media screen and (min-width: 761px) {
    h1 {
        font-size: 300%;
    }

    .signUp, .connection, .submitList, .submitGift, .button-signUp {
        font-size: 1.5em;
    }

    .signUpLink, .alreadySignIn {
        font-size: 1.5em;
    }

    .labelForm {
        font-size: 2em;
    }

    .urlImage, .listName, .urlArticle, .giftName, .price, .pseudo, .password, .passwordConfirmation, .email {
        margin-top: 1em;
        font-size: 2em;
    }

    .descriptionGift, .descriptionList {
        font-size: 2.8em;
        border-radius: 1em;
    }
}