* {
    margin: 0;
    padding: 0;
}

body {
    color: #2E323B;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: #2E323B;
}

.material-icons {
    font-size: 7vw;
    color: rgb(37, 193, 187);
}

li {
    list-style: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background-color: #2E323B;
    font-family: Oswald, sans-serif;
}

a.title {
    text-decoration: none;
    color: #25C1BB;
    font-family: Oswald, sans-serif;
    font-size: 1.2em;
    align-self: center;
    letter-spacing: .5em;
}

div.avatar-container {
    margin-top: .3em;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.avatar {
    width: 100%;
}

/* BANNIERE */

img.banner {
    width: 100%;
}

div.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.createbutton {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #25C1BB;
    font-size: 1.5em;
    margin: .5em;
    padding: .5em 2em;
    font-family: Oswald, sans-serif;
}

a.no-decoration {
    text-decoration: none;
}

/* ARTICLES */

article.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

div.article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

div.imagearticles-container, div.paragrapharticles-container {
    width: 40%;
    margin: .5em;
}

div.article p {
    text-align: justify;
    color: #2E323B;
    font-size: 1em;
    font-family: Oswald, sans-serif;
}

img.imagesarticles {
    border-radius: 20px;
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: #2E323B;
}

footer a {
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 1em;
    text-decoration: none;
}

footer a:hover {
    color: #25C1BB;
}

/* SHARING LIST PAGE */

h1.page-title {
    color: #25C1BB;
    text-align: center;
    font-family: Oswald, sans-serif;
}

/*****LIST*****/

.img-list-container {
    width: 100%;
    height: 100%;
}

.myLists {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-right: 10%;
    margin-left: 10%;
}

.list-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modification-liste {
    position: absolute;
}

.list-gift-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.edit-button {
    padding: 0.5em;
    border: none;
    background: none;
    font-size: 1em;
}

.rechercher {
    margin-top:1em;
}

.listTitlePage {
    text-align: center;
    margin: 1em;
    letter-spacing: .5em;
    font-size: 2em;
    color: #25C1BB;
}

.newList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}

.newList i {
    font-size: 6rem;
}

.existingLists {
    display: flex;
    flex-direction: column;
    border: 1px solid #25C1BB;
    margin: 1em;
    border-radius: 10px;
}

.createNewList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.shareDelete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.underListTitle {
    margin: 30px 35%;
    width: 30%;
    color: rgb(37, 193, 187);
}

.existingLists img {
    max-width: 100%;
    height: 100%;
    object-fit: fill;
}

h3.listTitle {
    text-align: center;
    margin: 1em;
    letter-spacing: .1em;
    font-size: 1em;
    color: #2E323B;
    font-family: Oswald, sans-serif;
}

.material-icons.listicon {
    font-size: 7em;
}

.existingGift.listplus {
    border: none;
    align-self: center;
}

.existingGift.listplus a i {
    font-size: 4em;
}

.giftTitle {
    text-align: center;
    padding: 0 1.5em;
}

.delete-button {
    border: none;
    background-color: white;
}

.existingLists.listplus {
    border: none;
    align-self: center;
    text-align: center;
}

.existingLists.listplus p {
    margin-bottom: 1.5em;
}

.labelFormTop {
    margin-bottom: 2em;
}

.displaycolfriend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connection.rechercher {
    padding: 0.5em 2em;
    color: white;
    background-color: rgb(37, 193, 187);
    font-weight: bolder;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    margin-bottom: 3em;
}

.signinfriend {
    margin: 3em;
}

/*****GIFT LIST*****/

.myGifts {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-right: 10%;
    margin-left: 10%;
}

.giftTitlePage {
    text-align: center;
    margin: 1em 1em 7vw 1em;
    letter-spacing: .1em;
    font-size: 2em;
    color: rgb(37, 193, 187);
    font-family: Oswald, sans-serif;
}

.createNewGift {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.newGift {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7vw;
}

.newGift i {
    font-size: 6rem;
}

.existingGift {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(37, 193, 187);
    border-radius: 10px;
    margin: 1em;
}

.delete-gift {
    text-align: right;
    padding: 0.2em 0.8em;
}

.delete {
    margin-top: 1em;
    text-align: right;
}

.alreadyBought {
    text-align: right;
}

.underGiftTitle {
    margin: 1em 35%;
    width: 30%;
    color: rgb(37, 193, 187);
}

.existingGift img {
    max-width: 100%;
    height: 100%;
    object-fit: fill;
}

.filter ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 1px solid #2E323B;
    align-items: center;
    font-size: 20px;
}

.priceStars ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 1em;
}

.priceStars ul li {
    display: flex;
    align-items: center;
}

.banner-title-gift {
    display: flex;
}

/*****Gift List Friend View*****/

.linkBuy {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.buttonToBuy {
    background-color: rgb(37, 193, 187);
    border-radius: 5px;
    margin: 0.4em;
    font-weight: bold;
    padding: 0 1em;
}

.urlArticle {
    padding: 0.2em 1em;
}

.giftTitle {
    text-align: center;
}

.imgGiftList {
    max-width: 250px;
    align-self: center;
}

.existingGiftFriendView {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    border: 1px solid #2E323B;
    margin-bottom: 3vw;
}

.allGifts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

/*****FAQ and CONTACT*****/

.faqTitlePage, .contactFormTitle {
    text-align: center;
    margin: 1em;
    letter-spacing: .5em;
    font-size: 2em;
    color: #25C1BB;
}

.questionAnswer {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.question {
    font-weight: bold;
    color: #25C1BB;
}

.answer {
    margin: 0.5em 0.5em 1em 0.5em;
}

.contactFormTitle {
    text-align: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.yourEmail {
    margin: 0.5em;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1.5em;
    width: 19em;
    border-color: rgba(37, 193, 185, 0.5);
}

.yourQuestion {
    margin: 0.5em;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1.5em;
    width: 26em;
    border-color: rgba(37, 193, 185, 0.5);
}

.yourQuestion {
    height: 5em;
}

.submitContact {
    background-color: #25C1BB;
    color: white;
    margin: 0.3em 0 1em 0;
    padding: 0.7em 1.5em;
    border-radius: 10px;
}

/* SHARING POP UP */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 80% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-text {
    color: #25C1BB;
    text-align: center;
}

.myBtn {
    padding: 0;
    border: none;
    background: none;
}

a.Pseudolink {
    color: white;
    margin-left: 1rem;
}

/* MOBILE VERSION (FOR BURGER MENU) */

@media screen and (max-width: 761px) {

    /* HEADER */
    .title-desktop {
        display: none;
    }

    .bannerdesktop {
        display: none;
    }

    /* BURGER MENU */
    div.title-container {
        align-self: center;
    }

    ul#menu a {
        text-decoration: none;
        color: #2E323B;
        font-family: Oswald, sans-serif;
        font-size: 1.4em;
        align-self: center;
    }

    ul#menu a:hover {
        text-decoration: none;
        color: #25C1BB;
        font-family: Oswald, sans-serif;
        align-self: center;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: .8em;
        left: .5em;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 10em;
        margin: -100px 0 0 -50px;
        padding: 7em 5em 5em 5em;
        background: whitesmoke;
        list-style-type: none;
        transform-origin: 0 0;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        box-shadow: #2E323B 0 .5em .5em 0;
    }

    #menu li {
        padding: .4em;
        font-size: 1em;
    }

    a:hover {
        color: #25C1BB;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
}

/* DESKTOP VERSION */

@media screen and (min-width: 761px) {

    /*HEADER DESKTOP */
    .home-mobile {
        display: none;
    }

    a.title {
        display: none;
    }

    input.checkboxbuger {
        display: none;
    }

    nav#navigation-mobile {
        align-self: center;
    }

    ul#menu {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    a.link-desktop {
        text-decoration: none;
        color: white;
        font-family: Oswald, sans-serif;
        font-size: 1.3em;
        align-self: center;
        margin-right: 2em;
    }

    a.title-desktop {
        letter-spacing: .5em;
        font-size: 2em;
        color: #25C1BB;
        margin-right: 1.5em;
    }

    a.link-desktop:hover {
        color: #25C1BB;
    }

    img.avatar {
        width: 50%;
    }

    /* BANNIERE DESKTOP */
    div.banner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner {
        display: none;
    }

    p.createbutton {
        text-align: center;
        font-weight: bold;
        color: white;
        background-color: #25C1BB;
        font-size: 1.5em;
        text-decoration: none;
        border-radius: 10px;
        font-family: Oswald, sans-serif;
    }

    /* ARTICLES DESKTOP */
    article.article-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    div.article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        width: 50%;
    }

    div.imagearticles-container, div.paragrapharticles-container {
        width: 70%;
        margin: .5em;
    }

    div.article p {
        text-align: justify;
        color: #2E323B;
        font-size: 1em;
        font-family: Oswald, sans-serif;
    }

    /* GIFT LIST DESKTOP */

    .myGifts {
        margin-right: 0;
    }

    .newGift {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        margin-right: 0.7vw;
        margin-top: 2vw;
        padding: 8vw;
    }

    .newGift > i {
        font-size: 250px;
    }

    .createNewGift {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .newGift i:hover, .delete i:hover {
        color: #2E323B;
    }

    .delete i {
        font-size: 1.5em;
    }

    .alreadyBought i {
        font-size: 1.5em;
    }

    .existingGift {
        font-size: 1.5em;
        width: 20%;
    }

    .filter ul {
        flex-direction: column;
        justify-content: space-evenly;
        border: transparent;
        text-align: left;
        margin-left: 2.5vw;
    }

    .filter ul li {
        font-weight: bold;
        color: #FDFDFD;
        font-size: 1em;
        margin-right: 3vw;
    }

    .filter {
        position: fixed;
        background-color: #2E323B;
        color: #FDFDFD;
        width: 10.1%;
        height: 35vw;
        display: flex;
    }

    .filter ul li i {
        color: #FDFDFD;
        font-size: 40px;
    }

    .filter ul li a {
        color: #FDFDFD;
        font-size: 25px;
    }

    .priceStars ul {
        justify-content: space-between;
        padding: 0;
    }

    .priceStars ul li i {
        font-size: 2em;
    }

    .priceStars ul li:first-child {
        margin-right: 5.5vw;
    }

    .myBtn.deletebtn i, .edit-button i {
        font-size: 2em;
        cursor: pointer;
    }

    .edit-button {
        padding: 0;
    }

    .list-title-gift {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .delete-gift {
        text-align: right;
        padding: 0.2em 0.35em;
    }

    /* LIST DESKTOP */
    .topList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .labelFormTop {
        font-size: 1.5em;
        text-align: center;
        width: 20em;
        margin-top: 1em;
    }

    .createNewList {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .newList {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        width: 30%;
    }

    .newList > i {
        font-size: 250px;
    }

    .newList i:hover, .shareDelete i:hover {
        color: #2E323B;
    }

    .shareDelete i {
        font-size: 3em;
    }

    .existingLists {
        font-size: 1.5em;
        width: 20%;
    }

    .material-icons.listicon {
        font-size: 5em;
    }

    .existingLists i {
        font-size: 1.5em;
    }

    /*****Gift List Friend View*****/
    .existingGiftFriendView {
        width: 300px;
        padding: 2vw;
    }

    .desktopViewAllGift {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .linkBuy, .linkBuy .material-icons {
        font-size: 3vw;
    }

    .giftDescription {
        padding: 1.5vw;
    }

    .priceStars {
        padding: 1vw;
    }

    /* SHARING BUTTON */
    .myBtn {
        padding: 0;
        border: none;
        background: none;
        font-size: 1em;
    }

    .delete-button {
        padding: 0;
        border: none;
        background: none;
        font-size: 1em;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 20% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
    }
}