<!DOCTYPE html>
<html lang="en">
<link href="css/formulaire.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Page4</title>
</head>
<body class="bodyPage4">
<h1>DESCRIPTION DE LA LISTE</h1>
<!TODO Rajouter un thymleaf pour Creation/modification!>

<input class="urlImage" placeholder="Lien vers l'image" type="url">
<input class="listName" placeholder="nom de la liste" type="text">
<textarea class="descriptifList" placeholder="Descriptif de la liste"></textarea>

<input class="submitList" type="submit" value="FINI !">
</body>
</html>