<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="formulaire.css">
<link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Page4</title>
</head>
<body class="bodyPage4">
<h1>DESCRIPTION DE LA LISTE</h1>
<!TODO Rajouter un thymleaf pour Creation/modification!>

<input type="url" class="urlImage" placeholder="Lien vers l'image">
<input type="text" class="listeName" placeholder="nom de la liste">
<textarea class="descriptifListe" placeholder="Descriptif de la liste"></textarea>

<input type="submit" class="submitListe" value="FINI !">
</body>
</html>