<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="formulaire.css">
<link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Page4</title>
</head>
<body class="bodyPage4">
<h1>DESCRIPTION DU CADEAU</h1>
<!TODO Rajouter un thymleaf pour Creation/modification!>

<input type="url" class="urlImage" placeholder="Lien vers l'image">
<input type="url" class="urlArticle" placeholder="Lien vers le cadeau">
<input type="text" class="giftName" placeholder="nom du cadeau">
<textarea class="descriptifGift" placeholder="Descriptif du cadeau"></textarea>
<div class="rating"><!--
   --><a href="#3" title="Donner 3 étoiles">★</a><!--
   --><a href="#2" title="Donner 2 étoiles">★</a><!--
   --><a href="#1" title="Donner 1 étoile">★</a>
</div>
<input type="text" class="prix" placeholder="Prix du cadeau">

    <input type="submit" class="submitGift" value="FINI !">

</body>
</html>