<!DOCTYPE html>
<html lang="en">
<link href="../static/css/formulaire.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Page4</title>
</head>
<body class="bodyPage4">
<h1>DESCRIPTION DU CADEAU</h1>
<!TODO Rajouter un thymleaf pour Creation/modification!>

<input class="urlImage" placeholder="Lien vers l'image" type="url">
<input class="urlArticle" placeholder="Lien vers le cadeau" type="url">
<input class="giftName" placeholder="nom du cadeau" type="text">
<textarea class="descriptifGift" placeholder="Descriptif du cadeau"></textarea>
<div class="rating"><!--
   --><a href="#3" title="Donner 3 étoiles">★</a><!--
   --><a href="#2" title="Donner 2 étoiles">★</a><!--
   --><a href="#1" title="Donner 1 étoile">★</a>
</div>
<input class="prix" placeholder="Prix du cadeau" type="text">

<input class="submitGift" type="submit" value="FINI !">

</body>
</html>