<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Oswald%7CTangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" href="css/formulary.css" th:href="@{css/formulary.css}">
    <meta charset="UTF-8">
    <title>FAQ</title>
</head>
<body>
<header th:replace="header :: header"></header>
<h1>F.A.Q</h1>
<section class="questionAnswer">
    <h3 class="question">GiftMe5, quésaco ?</h3>
    <p class="answer">GiftMe5 est une plateforme qui permet à un utilisateur de créer une liste de cadeaux selon l'évènement souhaité.</p>
    <h3 class="question">Je veux créer ma liste ! Comment faire ?</h3>
    <p class="answer">Rien de plus simple ! Inscivez-vous sur la plateforme et cliquez sur "Créer une nouvelle liste".</p>
    <h3 class="question">J'ai crée ma liste, comment la partager ?</h3>
    <p class="answer">Cliquez sur l'icone PARTAGER et envoyer le lien à vos amis.</p>
</section>
<h1>CONTACT</h1>
<form class="contactForm" method="GET">
    <input class="yourEmail" placeholder="Email" type="text">
    <textarea class="yourQuestion" placeholder="Votre question"></textarea>
    <input class="submitContact" type="submit" value="ENVOYER">
</form>
<footer th:replace="footer :: footer"></footer>
</body>
</html>