<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/friendsView.css">
    <title>Document</title>
</head>
<body>
<h1 th:text="${nameList.name}">Nom de la liste</h1>
<div class="button_share">
    <input class="button" type="button" value="Partage la liste">
</div>
<div class="page">
    <div class="filter">
        <img src="images/filter-edit-50.png" alt="">
        <div class="filter_text">
            <p>Préférences</p>
            <p>Prix croissant</p>
            <p>Prix décroissant</p>
            <p>A-Z</p>
            <p>Z-A</p>
            <p>Déjà acheté</p>
            <p>Encore à offrir</p>
        </div>
    </div>
    <div class="content">
        <div class="mygiflist" th:each="gifts: ${gifts}">
            <h2 th:text="${gifts.name}">Nom du cadeau</h2>
            <img th:src="${gifts.urlImage}" alt="Link">
            <div class="price">
                <h3 th:text="|${gifts.price} €|">Prix</h3>
                <h2>&#x2605</h2>
                <h2>&#x2605</h2>
                <h2>&#x2605</h2>
            </div>
            <p th:text="${gifts.description}"></p>
            <a class="button_link_gifts" th:href="${gifts.urlArticle}">Lien Cadeau</a>
            <input class="button" type="button" value="OFFRIR">
        </div>
    </div>
</div>
</body>
</html>