<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Oswald%7CTangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Liste de cadeaux vue ami</title>
</head>
<body>
<header th:replace="header :: header"></header>
<div class="page">
    <section class="filter">
        <ul>
            <li>A-Z</li>
            <li>€</li>
            <li><i class="material-icons">star_border</i></li>
            <li>Déjà acheté</li>
            <li>Encore à offrir</li>
        </ul>
    </section>
</div>
<h2 th:text="${list.getListName()}" class="giftTitlePage">Nom de la liste</h2>
<div class="myGifts">
    <div class="desktopViewAllGift">
        <div th:each="gift: ${gifts}" class="allGifts">
            <section class="existingGiftFriendView">
                <h3 th:text="${gift.giftName}" class="giftTitle">Nom du cadeau</h3>
                <hr class="underGiftTitle">
                <img class="imgGiftList" th:src="${gift.getUrlImage()}" alt="Link">
                <hr class="underGiftTitle">
                <div class="priceStars">
                    <ul>
                        <li>
                            <span th:text="|${gift.price}|"></span>
                            <i class="material-icons">euro_symbol</i>
                        </li>
                        <li th:if="${gift.preference} == 1" class="starOne">
                            <i class="material-icons">star</i>
                        </li>
                        <li th:if="${gift.preference} == 2" class="starTwo">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                        </li>
                        <li th:if="${gift.preference} == 3" class="starThree">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                        </li>
                    </ul>
                </div>
                <p th:text="${gift.getDescription()}" class="giftDescription"></p>
                <div class="linkBuy">
                    <a class="urlArticle" th:href="${gift.getUrlWebsite()}"><i class="material-icons">link</i></a>
                    <a class="buttonToBuy" th:href="@{/identification}"  th:if="${session.user == null}">Offrir</a>
                    <a class="buttonToBuy" th:href="@{/gift-offert(idUser=${session.user.idUser},idGift=${gift.idGift},idList=${gift.idList})}" th:if="${gift.idFriend == 0 and session.user != null}">Offrir</a>
                </div>
            </section>
        </div>
    </div>
</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>