<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Oswald%7CTangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Liste de cadeaux</title>
</head>
<body>
<header th:replace="header :: header"></header>
<section class="filter">
    <ul>
        <li>A-Z</li>
        <li>€</li>
        <li><i class="material-icons">star_border</i></li>
    </ul>
</section>
<div class="myGifts">
    <h2 class="giftTitlePage" th:text="${list.getListName()}">NOEL 2019</h2>
    <div class="createNewGift">
        <section class="newGift">
            <a th:href="@{/description-cadeau}"><i class="material-icons">add_circle_outline</i></a>
            <p>AJOUTER UN CADEAU</p>
        </section>
        <section class="existingGift" th:each="gifts: ${gifts}">
            <h3 class="giftTitle" th:text="${gifts.giftName}">Seiko Sport 5</h3>
            <hr class="underGiftTitle">
            <img th:src="${gifts.getUrlImage()}" alt="">
            <hr class="underGiftTitle">
            <div class="priceStars">
                <ul>
                    <li>
                        <span th:text="${gifts.price}"></span>
                        <i class="material-icons">euro</i>
                    </li>
                    <li th:if="${gifts.preference} == 1" class="starOne">
                        <i class="material-icons">star</i>
                    </li>
                    <li th:if="${gifts.preference} == 2" class="starTwo">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                    </li>
                    <li th:if="${gifts.preference} == 3" class="starThree">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                    </li>
                </ul>
            </div>
            <form action="/gift/delete" method="get">
                <input type="hidden" name="id" id="id" th:value="${gifts.idGift}">
                <input type="hidden" name="idList" id="idList" th:value="${list.getIdList()}">
                <button type="submit" class="myBtn">
                    <i class="material-icons">delete</i>
                </button>
            </form>
        </section>
    </div>
</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>