<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Oswald%7CTangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Liste de cadeaux</title>
</head>
<body>
<header th:replace="header :: header"></header>
<section class="filter">
    <ul>
        <th:block th:switch="${filtreAz}">
            <li th:case="false">
                <a th:href="@{/cadeaux(id=${list.getIdList()},filtre=${1})}">A-Z</a>
            </li>
            <li th:case="true">
                <a th:href="@{/cadeaux(id=${list.getIdList()},filtre=${2})}">Z-A</a>
            </li>
        </th:block>
        <th:block th:switch="${filtrePrice}">
            <li th:case="true">
                <a th:href="@{/cadeaux(id=${list.getIdList()},filtre=${3})}">€ + -</a>
            </li>
            <li th:case="false">
                <a th:href="@{/cadeaux(id=${list.getIdList()},filtre=${4})}">€ - +</a>
            </li>
        </th:block>
        <th:block th:switch="${filtrePreference}">
            <li th:case="false">
                <a th:href="@{/cadeaux(id=${list.getIdList()},filtre=${5})}"><i class="material-icons">star_border</i></br><i class="material-icons">star_border</i></br><i class="material-icons">star_border</i></a>
            </li>
            <li th:case="true">
                <a th:href="@{/cadeaux(id=${list.getIdList()},filtre=${6})}"><i class="material-icons">star_border</i></a>
            </li>
        </th:block>
    </ul>
</section>
<div class="myGifts">
    <h2 class="giftTitlePage" th:text="${list.getListName()}">NOEL 2019</h2>
    <div class="createNewGift">
        <section class="existingGift listplus">
            <a th:href="@{/description-cadeau(id=${list.getIdList()})}"><i class="material-icons">add_circle_outline</i></a>
            <p>AJOUTER UN CADEAU</p>
        </section>
        <section class="existingGift" th:each="gift: ${gifts}">
            <div class="banner-title-gift">
                <div class="list-title-gift">
                <h3 class="giftTitle" th:text="${gift.giftName}">Seiko Sport 5</h3>
                <hr class="underGiftTitle">
                </div>
            <form action="/gift-modification" method="get" class="modification-liste">
                <input type="hidden" name="idGift" id="idGift" th:value="${gift.idGift}">
                <button type="submit" class="edit-button">
                    <i class="material-icons">edit</i>
                </button>
            </form>
            </div>
            <img th:src="${gift.getUrlImage()}" alt="">
            <hr class="underGiftTitle">
            <div class="priceStars">
                <ul>
                    <li>
                        <span th:text="${gift.price}"></span>
                        <i class="material-icons">euro</i>
                    </li>
                    <li th:if="${gift.preference} == 1" class="starOne">
                        <i class="material-icons">star</i>
                    </li>
                    <li th:if="${gift.preference} == 2" class="starTwo">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                    </li>
                    <li th:if="${gift.preference} == 3" class="starThree">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                    </li>
                </ul>
            </div>
            <form action="/gift/delete" method="get" class="delete-gift">
                <input type="hidden" name="id" id="id" th:value="${gift.idGift}">
                <input type="hidden" name="idList" id="idList" th:value="${list.getIdList()}">
                <button th:unless="${gift.idFriend!=0}" type="submit" class="myBtn deletebtn">
                    <i class="material-icons">delete</i>
                </button>
            </form>
        </section>
    </div>
</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>