<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald%7CTangerine&display=swap" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Partager ma liste</title>
</head>
<body>
<header th:replace="header :: header"></header>
<h1 class="page-title">PARTAGER MA LISTE</h1>
<section class="list-sharing-container">
    <select class="list-select">
        <option value="liste1">Liste 1</option>
        <option value="liste2">Liste 2</option>
    </select>

</section>
<footer th:replace="footer :: footer"></footer>
</body>
</html>
