<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link href="../static/css/formulary.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
    <head>
        <meta charset="UTF-8">
        <title>Description de la liste</title>
    </head>
    <body class="bodyPage4">
    <header th:replace="header :: header"></header>
        <h1>DESCRIPTION DE LA LISTE</h1>
        <!TODO Rajouter un thymleaf pour Creation/modification!>
        <form action="/registerList" class="formForm">
            <input class="urlImage" name="urlImage" placeholder=Lien vers l'image" type="url">
            <input class="listName" name="listName" placeholder="nom de la liste" type="text">
            <textarea class="descriptionList" name="descriptionList" placeholder="Descriptif de la liste"></textarea>
            <input class="submitList" type="submit" value="FINI !">
        </form>
    <footer th:replace="footer :: footer"></footer>
    </body>
</html>