<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/formulary.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Description de la liste</title>
</head>
<body class="bodyPage4">
<header th:replace="header :: header"></header>
<section class="sections">
    <h1>DESCRIPTION DE LA LISTE</h1>
    <form action="/listes/update" method="Get">
        <div class="formForm">
            <input type="hidden" name="idList" id="idList" th:value="${List.idList}">
            <div class="inputInFlex">
                <label class="labelForm" for="urlImage">Lien vers l'image</label>
                <input class="urlImage" id="urlImage" name="urlImage" th:value="${List.urlImage}"
                       placeholder="  http://imagerepresentantlaliste.com"
                       type="url">
            </div>
            <div class="inputInFlex">
                <label class="labelForm" for="listName">Nom de la liste</label>
                <input class="listName" id="listName" name="listName"  th:value="${List.listName}" placeholder="  Noël" type="text">
            </div>
        </div>
        <div class="inputInFlex">
            <label class="labelForm" for="descriptionList">Description de la liste</label>
            <textarea class="descriptionList" id="descriptionList" name="descriptionList" th:text="${List.description}"
                      placeholder="  Pour cette merveilleuse occasion"></textarea>
            <input class="submitList" type="submit" value="FINI !">
        </div>
    </form>
</section>
<footer th:replace="footer :: footer"></footer>
</body>
</html>