<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="css/style.css" rel="stylesheet">
<link href="css/formulary.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Description de la liste</title>
</head>
<body class="bodyPage4">
<header th:replace="header :: header"></header>
<section class="sections">
    <h1>DESCRIPTION DE LA LISTE</h1>
    <form action="/register-lists" method="post">
        <div class="formForm">
            <div class="inputInFlex">
                <label class="labelForm" for="urlImage">Lien vers l'image</label>
                <input class="urlImage" id="urlImage" name="url_image"
                       placeholder="  http://imagerepresentantlaliste.com"
                       type="url">
            </div>
            <div class="inputInFlex">
                <label class="labelForm" for="listName">Nom de la liste</label>
                <input class="listName" id="listName" name="list_name" placeholder="  Noël" type="text">
            </div>
        </div>
        <input id="idList" type="hidden" name="idList" value="1">
        <div class="inputInFlex">
            <label class="labelForm" for="descriptionList">Description de la liste</label>
            <textarea class="descriptionList" id="descriptionList" name="description"
                      placeholder="  Pour cette merveilleuse occasion"></textarea>
            <input class="submitList" type="submit" value="FINI !">
        </div>
    </form>
</section>
<footer th:replace="footer :: footer"></footer>
</body>
</html>