<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Oswald%7CTangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}">
    <meta charset="UTF-8">
    <title>Listes</title>
</head>
<body>
<header th:replace="header :: header"></header>
<div class="myLists">
    <h2 class="listTitlePage">MES LISTES</h2>
    <div class="createNewList">
        <section class="newList">
            <a th:href="@{/description-liste}"><i class="material-icons">add_circle_outline</i></a>
            <p>CREER UNE NOUVELLE LISTE</p>
        </section>
        <section class="existingLists" th:each="lists: ${lists}">
            <div class="list-title-container">
                <h3 class="listTitle" th:text="${lists.listName}"></h3>
                <hr class="underListTitle">
            </div>
            <div class="img-list-container">
                <a th:href="@{/listes-cadeaux}"><img alt="" th:src="${lists.urlImage}"></a>
            </div>
            <div class="shareDelete">
                <button th:id=|${lists.urlShare}/${lists.idList}| class="myBtn"><i class="material-icons">share</i>
                </button>
                <form action="/listes/delete" method="get">
                    <input type="hidden" name="id" id="id" th:value="${lists.idList}">
                    <button type="submit" class="delete-button">
                        <i class="material-icons">delete</i>
                    </button>
                </form>
            </div>
        </section>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-text"></p>
    </div>
</div>
<footer th:replace="footer :: footer"></footer>
<script>
    var modal = document.getElementById("myModal");
    var btns = document.getElementsByClassName("myBtn");
    var span = document.getElementsByClassName("close")[0];
    for (i = 0; i < btns.length; i++) {
        var btn = btns[i];
        btn.onclick = function () {
            var text = document.getElementById("modal-text");
            text.textContent = this.id;
            modal.style.display = "block";
        }
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>