<!DOCTYPE html>
<html lang="en">
<link href="page4et5.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Page4</title>
</head>
<body class="bodyPage4">
<h1>INSCRIPTION</h1>
<img src="/home/wilder/Projet/giftMe5/GiftMe5/avatar.jpg" class="avatar" >
<input class="Pseudo" placeholder="Pseudo" type="text">
<input class="password" placeholder="Password" type="password">
<input class="passwordConfirmation" placeholder="Confirmation mot de passe" type="password">
<input class="email" placeholder="Email" type="email">

<input class="signUp" type="submit" value="Sign up!">

<a href="/home/wilder/Java/projet2/sept2019-java-toulouse-giftmefive/src/main/resources/templates/page7.html">J'ai déjà
    un compte</a>
</body>
</html>