<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="css/formulaire.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Page4</title>
</head>
<body class="bodyPage4">
<header th:replace="header :: header"></header>
<h1>S'IDENTIFIER</h1>
<img class="avatar" src="images/avatar.jpg">
<input class="Pseudo" placeholder="Pseudo" type="text">
<input class="password" placeholder="Password" type="password">

<input class="connection" type="submit" value="Connexion">
<p>OU</p>
<a class="signUpLink" th:href="@{/signUp}">Sign up!</a>
<footer th:replace="footer :: footer"></footer>
</body>
</html>