<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="css/style.css" rel="stylesheet">
<link href="css/formulary.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>S'identifier</title>
</head>
<body class="bodyPage4">
<header th:replace="header :: header"></header>
<section class="sections">
    <h1>S'IDENTIFIER</h1>
    <div class="displayrow">
        <img class="avatar2" src="images/avatar.jpg">
    </div>
    <div class="displayrow">
        <label class="labelForm" for="pseudo">Pseudo</label>
        <input class="pseudo" id="pseudo" placeholder="  Pseudo" type="text">
    </div>
    <div class="displayrow">
        <label class="labelForm" for="password">Mot de passe</label>
        <input class="password" id="password" placeholder="  ********" type="password">
    </div>
    <div class="displayrow">
        <a th:href="@{/description-liste}" target="_blank"> <input class="connection" type="submit" value="Connexion"> </a>
        <p>OU</p>
        <a class="signUpLink" th:href="@{/inscription}">S'INSCRIRE!</a>
    </div>
</section>
<footer th:replace="footer :: footer"></footer>
</body>
</html>