<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="css/style.css" rel="stylesheet">
<link href="css/formulary.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|Tangerine&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>S'identifier</title>
</head>
<body class="bodyPage4">
<header th:replace="header :: header"></header>
<form class="sections" action="/connexion" method="Post">
    <h1>S'IDENTIFIER</h1>
    <section class="signin">
    <div class="displayrow">
        <label class="labelForm" for="username">Pseudo</label>
        <input class="pseudo" id="username" name="username" placeholder="  Pseudo" type="text">
    </div>
    <div class="displayrow">
        <label class="labelForm" for="password">Mot de passe</label>
        <input class="password" id="password" name="password" placeholder="  ********" type="password">
    </div>
    <div class="displaycol">
        <input class="connection" type="submit" value="CONNEXION">
        <p>OU</p>
        <a class="signUpLink" th:href="@{/inscription}">CREER UN COMPTE</a>
    </div>
    </section>
</form>
<footer th:replace="footer :: footer"></footer>
</body>
</html>